<!-- Template du composant racine -->
<div class="app-container">
  <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
      <h1 class="navbar-brand">POKEDEX -- (Angular Demo)</h1>

<!-- Ajouter moteur de recherche
<form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Attrapes</button>
      </form>-->
    </div>
  </nav>
  <app-pokemon-list></app-pokemon-list>
</div>
